*{ margin: 0; padding: 0;}    

#ti{
    color:#8aa1a1;
	position: fixed;
	left: 125px;
	top: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#back {
   	background-image: url('https://user-images.githubusercontent.com/90309088/133717207-cd5720e0-7b3e-4229-bd83-f3a0cb56d5ce.jpg');
	height: 100%;
    background-repeat : no-repeat;
    background-size : cover;
    text-align:center;
    
}

#sform {
	vertical-align: middle;
	height: 50%;
	border-radius: 40px;
	box-sizing: border-box;
	width: 250px;
	height: 400px;
	margin:0 auto;
	position: fixed;
	left: 100px;
	bottom:100px;
}

header {
	display: flex;
	justify-content: center;
}

form {
	padding: 10px;
}

.input-box {
	position: relative;
	margin: 10px 0;
}

.input-box>input {
	background: transparent;
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 20px 0px 5px 0px;
	font-size: 14pt;
	width: 100%;
}

input::placeholder {
	color: transparent;
}

input:placeholder-shown+label {
	color: #aaa;
	font-size: 14pt;
	top: 15px;
}

input:focus+label, label {
	color: #8aa1a1;
	font-size: 10pt;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
	border-bottom: solid 1px #8aa1a1;
	outline: none;
}

input[type=submit] {
	background-color: #8aa1a1;
	border: none;
	color: white;
	border-radius: 5px;
	width: 100%;
	height: 35px;
	font-size: 14pt;
	margin-top: 40px;
    margin-right: 10px;
    text-align: right;
}

#forgot {
	text-align: right;
	font-size: 12pt;
	color: rgb(164, 164, 164);
	margin: 10px 0px;
}
